.DS_Store
node_modules
/build
/build.zip
/.svelte-kit
/package
/static/*
!/static/cv
!/static/favicon.*
!.env.example
.env
.env.*
vite.config.js.*

$houdini

/src/graphql/operations/*
/src/lib/apps/*
/src/routes/apps/*
/src/routes/api/*

!/src/graphql/operations/cv
!/src/lib/apps/cv
!/src/routes/apps/cv
!/src/routes/api/cv