.DS_Store
node_modules
/build
/build.zip
/.svelte-kit
/package
/static/*
!/static/cv
!/static/favicon.*
!.env.example
.env
.env.*
vite.config.js.*

$houdini

!/src/lib/apps/cv
!/src/routes/apps/cv

/src/lib/apps/*
/src/routes/apps/*