@media only screen and (max-width: 650px) {
    body:not(.sb-sidenav-toggled) {
        margin-left: 0;
        transition: opacity 0.15s linear;
    }

    #wrapper {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wrapper {
        height: 100%;
        grid-template-areas:
            'panel-content'
            'navigator'
            'map';
    }

    .page-content {
        visibility: hidden;
    }

    .header-items {
        display: grid !important;
        grid-template-columns: 100px 1fr;
    }

    .container-wrapper {
        height: 100%;
        grid-template-columns: 1fr 1fr;
    }
}